@using Movie.Domain.Models.Movies
@model IEnumerable<MovieGroup>

@{
    ViewData["Title"] = "Movie";
}

<!-- Slider Start -->
<section class="iq-main-slider p-0">
    <div id="tvshows-slider" class="iq-rtl-direction mb-4">
        <div>
            <a href="movie-details.html">
                <div class="shows-img">
                    <img src=" images/movie-banner/1.jpg" class="w-100" alt="">
                    <div class="shows-content">
                        <h4 class="text-white mb-1">Open Dead Shot</h4>
                        <div class="movie-time d-flex align-items-center">
                            <div class="badge badge-secondary p-1 mr-2">13+</div>
                            <span class="text-white">2 ساعت</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a href="movie-details.html">
                <div class="shows-img">
                    <img src=" images/movie-banner/2.jpg" class="w-100" alt="">
                    <div class="shows-content">
                        <h4 class="text-white mb-1">Jumbo Queen</h4>
                        <div class="movie-time d-flex align-items-center">
                            <div class="badge badge-secondary p-1 mr-2">9+</div>
                            <span class="text-white">2 ساعت</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div>
            <a href="movie-details.html">
                <div class="shows-img">
                    <img src=" images/movie-banner/3.jpg" class="w-100" alt="">
                    <div class="shows-content">
                        <h4 class="text-white mb-1">The Lost Journey</h4>
                        <div class="movie-time d-flex align-items-center">
                            <div class="badge badge-secondary p-1 mr-2">20+</div>
                            <span class="text-white">2 ساعت</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="dropdown genres-box">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
            ژانرها
        </button>
        <div class="dropdown-menu three-column" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">هندی</a>
            <a class="dropdown-item" href="#">تامیل</a>
            <a class="dropdown-item" href="#">پنجابی</a>
            <a class="dropdown-item" href="#">انگلیسی</a>
            <a class="dropdown-item" href="#">کمدی</a>
            <a class="dropdown-item" href="#">اکشن</a>
            <a class="dropdown-item" href="#">داستان عاشقانه</a>
            <a class="dropdown-item" href="#">درام ها</a>
            <a class="dropdown-item" href="#">بالیوود</a>
            <a class="dropdown-item" href="#">هالیوود</a>
            <a class="dropdown-item" href="#">کودکان و خانواده</a>
            <a class="dropdown-item" href="#">برنده جایزه</a>
        </div>
    </div>
</section>
<!-- Slider End -->
<!-- MainContent -->


@* سایر قسمت‌های View اصلی شما (هدر صفحه و ...) *@

@if (Model != null)
{
    @foreach (var groupItem in Model)
    {
        @* اینجا می‌توانید عنوان گروه اصلی را نمایش دهید اگر لازم است *@
        @* <h2>@groupItem.GroupTitle</h2> *@

        @if (groupItem.MovieSubGroups != null)
        {
            @foreach (var subItem in groupItem.MovieSubGroups.Where(s => !s.IsDeleted))
            {
                @*
                    به جای قرار دادن HTML مربوط به بخش فیلم‌ها اینجا،
                    View Component MoviesBySubGroup را فراخوانی می‌کنیم.
                    شناسه زیرگروه (subItem.Id) و عنوان زیرگروه (subItem.SubGroupTitle)
                    را به عنوان پارامتر به View Component پاس می‌دهیم.
                *@
                @await Component.InvokeAsync("MoviesBySubGroup", new { subGroupId = subItem.Id, subGroupTitle = subItem.SubGroupTitle })

                @*
                    View Component تمام HTML مربوط به یک بخش (شامل عنوان بخش و لیست فیلم‌ها)
                    را رندر می‌کند و در این نقطه از صفحه قرار می‌دهد.
                *@
            }
        }
    }
}
else
{
    @* پیامی برای زمانی که هیچ گروه یا زیرگروهی وجود ندارد *@
    <p>هیچ گروه یا زیرگروهی برای نمایش یافت نشد.</p>
}

@* سایر قسمت‌های View اصلی شما (فوتر و ...) *@