@if(User.Identity.IsAuthenticated)
{
    <li class="nav-item nav-icon">
        <a href="#" class="search-toggle" data-toggle="search-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="22" height="22"
                 class="noti-svg">
                <path fill="none" d="M0 0h24v24H0z" />
                <path d="M18 10a6 6 0 1 0-12 0v8h12v-8zm2 8.667l.4.533a.5.5 0 0 1-.4.8H4a.5.5 0 0 1-.4-.8l.4-.533V10a8 8 0 1 1 16 0v8.667zM9.5 21h5a2.5 2.5 0 1 1-5 0z" />
            </svg>
            <span class="bg-danger dots"></span>
        </a>
        <div class="iq-sub-dropdown">
            <div class="iq-card shadow-none m-0">
                <div class="iq-card-body">
                    <a href="#" class="iq-sub-card">
                        <div class="media align-items-center">
                            <img src=" /images/notify/thumb-1.jpg" class="img-fluid mr-3"
                                 alt="streamit" />
                            <div class="media-body">
                                <h6 class="mb-0 ">Boot Bitty</h6>
                                <small class="font-size-12">همین الان</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                        <div class="media align-items-center">
                            <img src=" /images/notify/thumb-2.jpg" class="img-fluid mr-3"
                                 alt="streamit" />
                            <div class="media-body">
                                <h6 class="mb-0 ">The Last Breath</h6>
                                <small class="font-size-12">15 دقیقه قبل</small>
                            </div>
                        </div>
                    </a>
                    <a href="#" class="iq-sub-card">
                        <div class="media align-items-center">
                            <img src=" /images/notify/thumb-3.jpg" class="img-fluid mr-3"
                                 alt="streamit" />
                            <div class="media-body">
                                <h6 class="mb-0 ">The Hero Camp</h6>
                                <small class="font-size-12">1 ساعت قبل</small>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item nav-icon">
        <a href="#" class="iq-user-dropdown search-toggle p-0 d-flex align-items-center"
           data-toggle="search-toggle">
            <img src=" /images/user/user.jpg" class="img-fluid avatar-40 rounded-circle" alt="user">
        </a>
        <div class="iq-sub-dropdown iq-user-dropdown">
            <div class="iq-card shadow-none m-0">
                <div class="iq-card-body p-0 pl-3 pr-3">
                    <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="Profile" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="ri-file-user-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">مدیریت نمایه</h6>
                            </div>
                        </div>
                    </a>
                    <a asp-area="UserPanel" asp-controller="UserPanel" asp-action="EditProfile" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="ri-settings-4-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">تنظیمات</h6>
                            </div>
                        </div>
                    </a>
                    <a href="pricing-plan-1.html" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="ri-settings-4-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                                <h6 class="my-0 ">قیمت ها</h6>
                            </div>
                        </div>
                    </a>
                    <a href="login.html" class="iq-sub-card setting-dropdown">
                        <div class="media align-items-center">
                            <div class="right-icon">
                                <i class="ri-logout-circle-line text-primary"></i>
                            </div>
                            <div class="media-body ml-3">
                                <form asp-controller="Account" asp-action="Logout" method="post" class="logout-form-dd">
                                        <button type="submit" class="logout-menu-item">
                                            <i class="icon-logout"></i> <span>خروج</span>
                                        </button>
                                </form>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </li>
}
else
{
    <div class="auth-buttons">
        <a asp-controller="Account" asp-action="Login" class="btn btn-login">ورود</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-register">ثبت نام</a>
    </div>
}