@using Movie.Domain.DTOs
@using Movie.Domain.Enums

@model ChangePasswordDTO


@{
    ViewData["Title"] = "ChangePassword";
}

<section class="sign-in-page">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="sign-user_card ">
                    <div class="sign-in-page-data">
                        <div class="sign-in-from w-100 m-auto">
                            <h3 class="mb-3 text-center">تغییر رمز عبور</h3>
                            <form asp-action="ChangePassword" class="mt-4">

                                @switch (ViewBag.Restult)
                                {
                                    case ResultChangePassword.Success:
                                    {
                                        <div class="alert alert-success">
                                            <h2>کلمه عبور با موفقیت ویرایش شد.</h2>
                                        </div>
                                        break;
                                    }
                                    case ResultChangePassword.OldPasswordInValid:
                                        {
                                            <div class="alert alert-warning">
                                                <h2>کلمه عبور فعلی صحیح نیست.</h2>
                                            </div>
                                            break;
                                        }
                                    case ResultChangePassword.Error:
                                        {
                                            <div class="alert alert-danger">
                                                <h2>مشکلی پیش آمده :(</h2>
                                            </div>
                                            break;
                                        }
                                }

                                <input type="hidden" value="@ViewBag.ReturnUrl" name="ReturnUrl"/>
                                
                                <div class="form-group">
                                    <input asp-for="OldPassword" class="form-control mb-0" id="exampleInputPassword2" placeholder="کلمه عبور فعلی">
                                    <span asp-validation-for="OldPassword"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="Password" class="form-control mb-0" id="exampleInputPassword2" placeholder="کلمه عبور جدید">
                                    <span asp-validation-for="Password"></span>
                                </div>

                                <div class="form-group">
                                    <input asp-for="RePassword" class="form-control mb-0" id="exampleInputPassword2" placeholder="تکرار کلمه عبور جدید">
                                    <span asp-validation-for="RePassword"></span>
                                </div>
 
                                <div class="sign-info">
                                    <button type="submit" class="btn btn-hover">ثبت تغییرات</button>
                                    <div class="custom-control custom-checkbox d-inline-block">
                                        <input type="checkbox" class="custom-control-input" id="customCheck">
                                    </div>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</section>